@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    box-sizing: border-box;
}
body, html{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    width: 100%;
    height: 100vh;
}
.container{
    display: grid;
    grid-template: "topo" 100px
                    "conteudo"
                    "rodape" 100px / 1fr;
    min-height: 100%;
}
.topo{
    grid-area: topo;
    background-color: #e4e4e4;
    display: flex;
}
.topo #icone{
    padding: 0.7rem;
}
.menu{
    margin: auto 1rem;
}
.menu a{
    text-decoration: none;
    color: #3F50B4;
    font-weight: bold;
    margin: auto;
    padding: 0.7rem;
    font-size: 25px;
}
.menu a:hover{
    border-bottom: 3px solid #3F50B4 ;
}
.conteudo{
    grid-area: conteudo;
    background-image: url("../img/home.png");
    color: #e4e4e4;
}
.conteudo h1{
    width: 50%;
    margin-left: 7rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.conteudo p{
    width: 50%;
    margin: 1rem 7rem;
    text-align: justify;
}
main form{
    margin: 3rem;
}
.field-form{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #DAEDE2;
    outline: none;
}
.w-100{
    float: left;
    width: 50%;
    margin-bottom: 1rem;
    padding: 0 1rem;
}
.w-50{
    float: left;
    width: 50%;
    margin-bottom: 1rem;
    padding: 0 1rem;
}
.w-30{
    float: left;
    width: 30%;
    margin-bottom: 1rem;
    padding: 0 1rem;
}
.buscar{
    float: left;
    width: 35%;
    margin: 3rem 0 2rem 3rem;
    padding: 0 1rem;
}
#button-save{
    float: left;
    color: #fff;
    background-color: #3F50B4;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #DAEDE2;
    outline: none;
    margin: 1rem 1.5rem;
    font-size: 15px;
}
#button{
    float: left;
    color: #fff;
    background-color: #3F50B4;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #DAEDE2;
    outline: none;
    margin: 4rem 0;
    font-size: 15px;
}
.rodape{
    grid-area: rodape;
    background-color: #e4e4e4;
}
.rodape p{
    text-align: center;
}