@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    box-sizing: border-box;
}
body, html{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    width: 100%;
    height: 100vh;
}
.container{
    display: grid;
    grid-template: "topo" 100px
                    "conteudo"
                    "rodape" 100px / 1fr;
    min-height: 100%;
}
.topo{
    grid-area: topo;
    background-color: #e4e4e4;
    display: flex;
}
.topo #icone{
    padding: 0.7rem;
}
.menu{
    margin: auto 1rem;
}
.menu a{
    text-decoration: none;
    color: #3F50B4;
    font-weight: bold;
    margin: auto;
    padding: 0.7rem;
    font-size: 25px;
}
.menu a:hover{
    border-bottom: 3px solid #3F50B4 ;
}
.conteudo{
    grid-area: conteudo;
    background-image: url("../img/home.png");
    color: #e4e4e4;
}
.conteudo h1{
    width: 50%;
    margin-left: 7rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.conteudo p{
    width: 50%;
    margin: 1rem 7rem;
    text-align: justify;
}
.rodape{
    grid-area: rodape;
    background-color: #e4e4e4;
}
.rodape p{
    text-align: center;
}